.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.cards {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  background-color: #ffffff;
}

.cards-text {
}

.image {
  height: 50px;
  width: 60px;
}

.image-align {
  display: flex;
  justify-content: end;
}
